form{
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
body{
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--custom-font-family);
}